In [1]:
import numpy as np
import pandas as pd

In [2]:
df_2015 = pd.read_csv('../data/modis_2015_United_States.csv')
df_2016 = pd.read_csv('../data/modis_2016_United_States.csv')
df_2017 = pd.read_csv('../data/modis_2017_United_States.csv')
df_2018 = pd.read_csv('../data/modis_2018_United_States.csv')
df_2019 = pd.read_csv('../data/modis_2019_United_States.csv')

In [3]:
frames = [df_2015, df_2016, df_2017, df_2018, df_2019]
pre_final = pd.concat(frames)

In [4]:
pre_final.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,19.4104,-155.2771,306.4,1.1,1.1,2015-01-01,830,Terra,MODIS,68,6.2,284.0,12.1,N,2
1,19.4425,-155.0047,324.1,1.1,1.0,2015-01-01,830,Terra,MODIS,100,6.2,286.0,29.0,N,2
2,19.4601,-154.9925,313.0,1.1,1.0,2015-01-01,830,Terra,MODIS,86,6.2,288.0,16.7,N,2
3,19.4087,-155.2876,309.8,1.1,1.1,2015-01-01,830,Terra,MODIS,78,6.2,284.0,14.8,N,2
4,41.6333,-87.1361,301.0,1.9,1.3,2015-01-01,1717,Terra,MODIS,33,6.2,270.7,22.7,D,2

In [5]:
pre_final.shape

(643545, 15)

In [6]:
pre_final.columns

Index(['latitude', 'longitude', 'brightness', 'scan', 'track', 'acq_date',
       'acq_time', 'satellite', 'instrument', 'confidence', 'version',
       'bright_t31', 'frp', 'daynight', 'type'],
      dtype='object')

In [7]:
pre_final_2 = pre_final[(pre_final['latitude'] >= 38.0881) & (pre_final['latitude'] <= 40.8336)]

In [8]:
pre_final_3 = pre_final_2[(pre_final_2['longitude'] >= -123.1208) & (pre_final_2['longitude'] <= -120.2933)]

In [9]:
pre_final_3.shape

(19079, 15)

In [10]:
final_wf_df = pre_final_3[(pre_final_3['confidence'] >= 90)]

In [11]:
final_wf_df.shape

(7113, 15)

In [12]:
final_wf_df.to_csv(r'C:\Users\ptann\OneDrive\Documents\Flatiron\cap_project\wildfire_capstone\data\final_wf_position_2015_to_2019.csv')

In [13]:
key=open('../nasa_api/nasa_key.txt','r').read()

In [14]:
import requests
from IPython.display import Image, display

import random

import urllib.request

import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt


import seaborn as sns

In [15]:
final_wf_df.rename(columns={'latitude':'lat',
                            'longitude':'lon',
                            'acq_date': 'date'}, inplace = True)

In [16]:
final_wf_df

,lat,lon,brightness,scan,track,date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
3041,39.0126,-120.5886,314.6,1.0,1.0,2015-01-25,607,Terra,MODIS,90,6.20,284.6,14.9,N,0
4668,39.4017,-122.5874,344.7,1.2,1.1,2015-01-29,1921,Terra,MODIS,94,6.20,292.0,66.6,D,0
5803,38.9498,-120.3980,376.1,2.0,1.4,2015-02-05,1927,Terra,MODIS,100,6.20,284.9,374.0,D,0
5804,38.9452,-120.3769,341.0,2.0,1.4,2015-02-05,1927,Terra,MODIS,92,6.20,281.7,125.7,D,0
5807,38.9418,-120.3837,346.4,2.0,1.4,2015-02-05,1927,Terra,MODIS,94,6.20,282.5,150.2,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102465,40.6507,-122.0459,354.4,2.9,1.6,2019-11-23,2156,Aqua,MODIS,98,6.03,294.6,329.2,D,0
102467,40.6505,-122.0503,353.5,2.9,1.6,2019-11-23,2156,Aqua,MODIS,97,6.03,295.0,321.0,D,0
104058,40.8083,-122.6204,319.9,1.1,1.0,2019-12-04,619,Terra,MODIS,99,6.03,276.7,24.4,N,0
104060,38.5259,-120.4962,315.2,1.2,1.1,2019-12-04,619,Terra,MODIS,91,6.03,267.7,23.6,N,0
105208,38.8720,-120.6605,317.7,1.0,1.0,2019-12-06,607,Terra,MODIS,95,6.03,278.0,20.1,N,0

In [17]:
final_wf_df['date'] = final_wf_df['date'].astype(str)
final_wf_df['lon'] = final_wf_df['lon'].astype(str)
final_wf_df['lat'] = final_wf_df['lat'].astype(str)

In [18]:
final_wf_df

,lat,lon,brightness,scan,track,date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
3041,39.0126,-120.5886,314.6,1.0,1.0,2015-01-25,607,Terra,MODIS,90,6.20,284.6,14.9,N,0
4668,39.4017,-122.5874,344.7,1.2,1.1,2015-01-29,1921,Terra,MODIS,94,6.20,292.0,66.6,D,0
5803,38.9498,-120.398,376.1,2.0,1.4,2015-02-05,1927,Terra,MODIS,100,6.20,284.9,374.0,D,0
5804,38.9452,-120.3769,341.0,2.0,1.4,2015-02-05,1927,Terra,MODIS,92,6.20,281.7,125.7,D,0
5807,38.9418,-120.3837,346.4,2.0,1.4,2015-02-05,1927,Terra,MODIS,94,6.20,282.5,150.2,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102465,40.6507,-122.0459,354.4,2.9,1.6,2019-11-23,2156,Aqua,MODIS,98,6.03,294.6,329.2,D,0
102467,40.6505,-122.0503,353.5,2.9,1.6,2019-11-23,2156,Aqua,MODIS,97,6.03,295.0,321.0,D,0
104058,40.8083,-122.6204,319.9,1.1,1.0,2019-12-04,619,Terra,MODIS,99,6.03,276.7,24.4,N,0
104060,38.5259,-120.4962,315.2,1.2,1.1,2019-12-04,619,Terra,MODIS,91,6.03,267.7,23.6,N,0
105208,38.872,-120.6605,317.7,1.0,1.0,2019-12-06,607,Terra,MODIS,95,6.03,278.0,20.1,N,0

In [19]:
a = 'https://api.nasa.gov/planetary/earth/imagery?'
b='lon='
c='&lat='
l= '&dim=0.925'
d= '&date='
e= '&api_key='

In [20]:
import os
os.path.join(os.path.pardir,'images','nasa_test_images',)

'..\\images\\nasa_test_images'

In [21]:
key

'StoVkF1DGwWOuDzTtoPiLPapkgRkPvYQyUlnExJB\n'

In [22]:
#url = 'https://api.nasa.gov/planetary/earth/imagery?lon=38.94&lat=-120.39&dim=0.525&date=2015-02-05&api_key=StoVkF1DGwWOuDzTtoPiLPapkgRkPvYQyUlnExJB'
#url

In [23]:
#r = requests.get(url)
#display(Image(r.content))

In [24]:
#urllib.request.urlretrieve(url)

In [25]:
#key=open('../nasa_api/nasa_api_key.txt','r').read()

from tqdm import tqdm
import os
#os.path.join(os.path.pardir,'images','fire_images',)
import time

with tqdm(total=100) as pbar:
    for i in range(10):
        time.sleep(0.1)
        pbar.update(10)

#a = 'https://api.nasa.gov/planetary/earth/imagery?'
#b='lon='
#c='&lat='
#l= '&dim=0.025'
#d= '&date='
#e= '&api_key='


#i = 0
#with tqdm(total=df_fire_initial.shape[0]) as pbar:
    
    
#    for index, row in df_fire_initial.iterrows():
#        url= a + b + row['lon'] + c + row['lat'] + l + d + row['date'] + e + key
#        urllib.request.urlretrieve(url, os.path.join(os.path.pardir,'images','fire_images',)\
#                                    +row['lon'] + row['lat']+ row['date']
#                                    +'.jpg')
#        i += 1
#        pbar.update(1)
#        if i == 999:
#            time.sleep(3600)
#            i = 0

100%|██████████| 100/100 [00:01<00:00, 98.62it/s]

In [26]:
from tqdm import tqdm

In [27]:
import time

In [28]:
final_wf_df.shape

(7113, 15)

In [29]:
a = 'https://api.nasa.gov/planetary/earth/imagery?'
b='lon='
c='&lat='
l= '&dim=0.25'
d= '&date='
e= '&api_key='

In [ ]:
i = 0
with tqdm(total=final_wf_df.shape[0]) as pbar:
    
    
    for index, row in final_wf_df.iterrows():
        url= a + b + row['lon'] + c + row['lat'] + l + d + row['date'] + e + key
        urllib.request.urlretrieve(url, os.path.join(os.path.pardir,'images','fire_images',)\
                                    +row['lon'] + row['lat']+ row['date']
                                    +'.jpg')
        i += 1
        pbar.update(1)
        if i == 999:
            time.sleep(3600)
            i = 0

 18%|█▊        | 1249/7113 [2:36:39<11:27:49,  7.04s/it]

In [ ]:
#url = a + b + final_wf_df['lon'] + c + final_wf_df['lat'] + l + d final_wf_df['date'] + e + key
#urllib.request.urlretrieve(url, os.path.join(os.path.pardir,'images','fire_images',)\
#                                    +row['lon'] + '_' + row['lat'] + '_' + row['date']
#                                    +'.jpg')